@model List<Domain.Models.Entities.Project>

@{
    ViewData["Title"] = "Index";
}
@*<button type="button" class="btn btn-primary">Primary</button>*@
<a asp-controller="Project" asp-action="create" button type="button" class="btn btn-primary">Create</a>
@*<a class="btn btn-primary" href="#" role="button">Link</a>*@
<h1>Список проектов</h1>

<table class="table">
    <thead>
        <tr>
            <th>
         <th>Название проекта</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th>Приоритет</th>
        <th>Customer Company ID</th>
        <th>Executor Company ID</th>
        <th>Project Manager ID</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
               <tr>
                <td>@project.ProjectId</td>      
                <td>@project.ProjectName</td>
                <td>@project.StartDate.ToShortDateString()</td>
                <td>@project.EndDate.ToShortDateString()</td>
                <td>@project.Priority</td>
                <td>@project.CustomerCompanyId</td>
                <td>@project.ExecutorCompanyId</td>
                <td>@project.ProjectManagerId</td>
             <td>
                            <a asp-action="Edit" asp-route-id="@project.ProjectId">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@project.ProjectId">Delete</a>
              </td>
    </tr>}
    </tbody>
</table>


