@model List<Domain.Models.ViewModels.ProjectViewModel>

<h2>Projects</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].ProjectName)
            </th>
            <!-- Добавьте другие заголовки столбцов по мере необходимости -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <!-- Добавьте другие столбцы по мере необходимости -->
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>